<!DOCTYPE html>
<html>
    <head>
        <title>Business Search</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <script src="{{url_for('static', filename='javascript/pagescript.js')}}"></script>
        <div id="main">
            <div id="search">
                <div class="img-container">
                    <img class="img" src="static/styles/banner.jpeg" />
                    <div class="title">
                        <h2>Business Search</h2>
                        <h3>Fill out the form to get businesses near you!</h3>
                    </div>
                </div>
                <div class="form-container">
                    <form id="form">
                        <div class="input_row">
                            <label for="keyword">Keyword<span id="asterisk">*</span></label><br>
                            <input class="text_box" type="text" id="keyword" name="keyword"><br>
                        </div>
                        <div class="section_2">
                            <div class="input_row_2">
                                <label for="distance">Distance(miles)<span id="asterisk">*</span></label><br>
                                <input class="text_box" type="text" id="distance" name="distance" value="10">
                            </div>
                            <div class="input_row_3">
                                <label for="category">Category<span id="asterisk">*</span></label>
                                <select name="category" class="text_box" id="category">
                                    <option value="Default">Default</option>
                                    <option value="Arts & Entertainment">Arts & Entertainment</option>
                                    <option value="Health & Medical">Health & Medical</option>
                                    <option value="Hotels & Travel">Hotels & Travel</option>
                                    <option value="Food">Food</option>
                                    <option value="Professional Services">Professional Services</option>
                                </select>
                            </div>
                        </div>
                        <div class="input_row">
                            <label for="location">Location<span id="asterisk">*</span></label><br>
                            <input class="text_box" type="text" id="location" name="location"><br>
                        </div>
                        <hr>
                        <div class="input_row">
                            <label id="locate" for="auto-locate">Want us to auto-detect your location? Check here</label>
                            <input type="checkbox" id="auto-locate" name="auto-locate" value="auto-locate">
                        </div>
                        <div class="section_2">
                            <input id="submit" class="button" type="button" value="SUBMIT" onclick="getSearchResults('/getNearbyBusinesses')">
                            <input id="reset" class="button" type="reset" value="CLEAR">
                        </div>
                    </form>
                </div> 
            </div>
            <div id="grid"></div>
            <div id="detail"></div>
        </div>
    </body>
</html>