body {
    background-color: #d7d7d7;
}

#search {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

#asterisk {
    color: red;
}

#grid {
    font-family: sans-serif;
    font-weight: lighter;
}

#detail {
    font-family: sans-serif;
}

.detail_info {
    margin-bottom: 45px;
    font-family: sans-serif;
    font-weight: lighter;
}

.detail_info .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

#submit {
    background-color: #4D6EAB;
    border-bottom: 5px solid #364572;
}

#reset {
    margin-left: -2px;
    background-color: #FCB504;
    border-bottom: 5px solid #F78204;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 12px;
    cursor: pointer;
}

.name_cell p:hover {
    color: #d7d7d7;
    filter: brightness(80%);
}

#submit:hover {
    filter: brightness(120%);
}

#reset:hover {
    filter: brightness(80%);
}

.section_2 {
    width: 550px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

label {
    color: #4E70AD;
}

#search {
    height: 540px;
    width: 620px;
    margin: auto;
    border: 5px solid rgb(187, 184, 184);
    background-color: white;
}

.form-container {
    width: 100%;
    box-sizing: border-box;
}

.input_row {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

hr {
    margin-top: 22px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    border: 0.5px solid #4E70AD;
}

#locate {
    font-size: 20px;
}

.input_row_2 {
    display: inline-block;
    width: 30%;
}

.input_row_3 {
    float: right;
    width: 50%;
}

.text_box {
    width: 100%;
    margin-top: 8px;
    box-sizing: border-box;
    padding: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    font-size: 16px;
    border-width: 1.5px;
}

input:focus {
    outline: none;
    border-color: black;
}

select:focus {
    outline: none;
    border-color: black;
}

.img-container {
    overflow: hidden;
    height: 135px;
    max-height: 300px;
    position: relative;
}

.img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
 }

 .title {
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: white;
 }

table, th, td {
    border: 1px solid #d7d7d7;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #4D6EAB;
}

#detail {
    width: 825px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    margin-top: 30px;
}

.detail_images {
    border: 1px solid #d7d7d7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.detail_images:hover {
    border: 1px solid #5A5A5A;
}


.photo-name {
    margin-top: auto;
    margin-bottom: 10px;
}

#shop_status{
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 17px;
    text-align: center;
    font-size: 16px;
}

.detail_images img {
    width: 250px;
    object-fit: contain;
    object-position: 0 0;
    margin-bottom: 18px;
}

 .panel {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
 }

 .img-gallery {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    align-items: stretch;
 }

 #business_title {
    padding-top: 30px;
 }

 #hr_detail {
    border: 0.5px solid #d7d7d7;
    width: 785px;
    margin-left: 20px;
    margin-right: 20px;
 }

 .detail_section {
    width: 50%;
 }

thead tr th {
    height: 48px;
}

#number {
    width: 50px;
}

.rating_cell, .distance_cell {
    height: 120px;
    width: 150px;
}

.image_cell {
    height: 120px;
    width: 110px;
}

table {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

#norecord {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid rgb(200, 200, 200);
    font-size: 20px;
}